.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px); 
  z-index: 100;
}

.modal {
  min-height: 160px;
  width: 500px;
  text-align: center;
  padding: 20px 60px;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: var(--background-color);
  color: var(--text-color);
  z-index: 101;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.modal_success {
  box-shadow: 0px 0px 30px 0 var(--primary-colorPressed);
}

.modal_error {
  box-shadow: 0px 0px 30px 0 var(--color-red);
}