.form_login {
  border-radius: 5px;
  border: 1px solid var(--color-gray);
  max-width: 600px;
  padding: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
}

.error_message {
  color: var(--color-red)
}

.label {
  color: var(--color-gray);
  margin: 10px 0;
  display: block;
}